:root {
  /* colours */
  /* GREY */
  --colour-grey-050: #f7f7f7;
  --colour-grey-100: #e1e1e1;
  --colour-grey-200: #cfcfcf;
  --colour-grey-300: #b1b1b1;
  --colour-grey-400: #9e9e9e;
  --colour-grey-500: #7e7e7e;
  --colour-grey-600: #626262;
  --colour-grey-700: #515151;
  --colour-grey-800: #3b3b3b;
  --colour-grey-900: #222222;

  --colour-white: #fff;
  --colour-hotpink: #FF47A4;
  --colour-green: #2AA72A
  --colour-dark-green: #278227
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;

}

textarea {
  all: unset;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto 35px;
}

.header > h1 {
  font-size: 65px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.92);
}

.header > h2 {
  font-family: doto;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: white;
}

.heading-thin {
  font-weight: 300;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 254px;
  width: 100%;
  background-color: rgba(42, 167, 42, 1);
}

.container {
  flex: 1;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: start;
    background: linear-gradient(
    to bottom,
    rgba(42, 167, 42, 1) 0%,      /* solid color at top */
    rgba(42, 167, 42, 1) 30%,     /* keep solid until 30% down */
    rgba(42, 167, 42, 0) 100%     /* fade to transparent by bottom */
  );
}

.textarea {
  min-width: 50%;
  /* resize: none; */
  font: inherit;
  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.textStats {
  display: flex;
  justify-content: space-between;
  background-color:var(--colour-grey-100);
  color: var(--colour-grey-700);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 6px 6px 0 0;
}

.textarea-input {
  padding: 30px 30px;
  background-color: var(--colour-white);
  margin-bottom: 20px;
  border-radius: 0 0 6px 6px;
}

.textarea-input > textarea {
  width: 100%;
  min-height: 400px;
  resize: none;       /* prevents manual drag resizing */
  overflow: hidden; 
  font-size: 22px;
  font-weight: 300;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word; /* legacy support */
}

.textarea-input > textarea::placeholder {
  font-weight: 200;
  color: var(--colour-grey-300);
}

.warning {
  position: absolute;
  bottom: 15px;
  left: 35px;
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}

.stats {
  position: sticky;
  top: 20px;
  z-index: 10;
  max-width: 42%;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}

.stat {
  background-color: var(--colour-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
}

.stat-info {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 50%;
  padding: 4px 8px;
  background-color: var(--colour-grey-100);
  border-radius: 0 0 6px 6px;
}

.stat-info > img {
  width: 24px;
  height: auto;
}

.stat-post-type {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--colour-grey-600);
  white-space: normal;         /* allows wrapping */
  overflow-wrap: anywhere;     /* breaks long words if needed */
  word-break: break-word;
}

.stat-number {
  color: #4d5457;
  font-weight: 600;
  font-size: 35px;
  margin-top: 14px;
  margin-bottom: 14px;
  text-align: center;
}

.stat-number-limit {
  color: red;
}

.footer {
  margin-top: auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-family: doto;
  font-weight:bold;
  color: var(--colour-dark-green);
}

.footer {
    text-transform: uppercase;
}

.hapistax {
  display: inline-flex;
  align-items: flex-end;
  font: 700 1rem 'Lexend peta';
  color: black;
}

.i {
  font: 700 1rem 'Lexend peta';
  color: #2AA72A;;
  font-weight: 800;
  padding: 0 0px;
  text-transform: lowercase;
}

.hapistax-link:hover {
  .hapistax {
    color: var(--colour-hotpink);
  }
}

a.link,
a.link:visited {
  color: var(--colour-hotpink);
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

a.link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1023px) {
  .container {
    flex-direction: column;
    flex: 0;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }

  .textarea {
    width: 80%;
  }

  .stats {
    position: relative;
    top: 0px;
    max-width: 100%;
    margin-bottom: 24px;
  }

  .footer {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    gap: 0;
  }

  .textarea {
    width: 100%;
  }

  .header > h1 {
    font-size: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.92);
  }

  .header > h2 {
    font-family: doto;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
  }
}
